body{
    width: 100%;
    background-color: green;
    color: white;
}
table {
    width: 100%;
}
.left-area{
    float: left;
    width: 50%;
}
.right-area {
    float: right;
    width: 50%;
}
#tab-players {
    padding-left : 5%;
    padding-right : 5%;
}
table, th, tr, td {
    border: 1px solid black;
}